<h1>Products</h1>
<form ng-submit="submitNew()" name='createProduct' class = 'form-inline' novalidate>
	<h3>Add a new Product</h3>
	<label>Product Name:</label>
	<input required minlength='2' type="text" name="name" ng-model="newProduct.name" class='form-control'>
	<input type="url" name="img_url" placeholder='http://' ng-model="newProduct.img_url" class="form-control">
	<textarea name="description" ng-model="newProduct.description" class='form-control'></textarea>
	<label>Initial Quantity</label>
	<input type="number" name="qty" ng-model='newProduct.qty' min=0 class="form-control">
	<button type='submit' class='btn btn-primary'>Add Product</button>
</form>
<div ng-messages="createProduct.name.$error" ng-show='createProduct.$submitted'>
	<p class = 'text-danger' ng-message='required'>You need a name</p>
	<p class = 'text-danger' ng-message='minlength'>Name must be longer than two characters</p>
</div>
<div ng-messages="createProduct.img_url.$error" ng-show='createProduct.$submitted'>
	<p class = 'text-danger' ng-message='url'>Not a valid URL</p>
</div>
<!-- <div ng-messages="createProduct.qty.$error" ng-show='createProduct.$submitted'>
	<p class = 'text-danger' ng-message='min'>Quantity must have a value of at least 1</p>
</div> -->
<p class='form-inline text-right'>
<input type="text" name="filterName" ng-model='filterName' placeholder="Filter by name">
</p>
<div class='row'>
<div class='thumbnail col-sm-4' ng-repeat = 'product in products'>
	<img src ='{{product.img_url}}' height="100em" width="100em" alt='{{product.name}}'/>
	<div class='caption'>
		<h5>{{product.name}} ({{product.qty}}left)</h5>
		<p>{{product.description}}</p>
		<button class='btn btn-danger' ng-click='deleteProduct(product._id)'>Delete</button>
	</div>
</div>
</div>